#mainBlock:hover {
	background-color:rgba(41, 31, 48, 0.6);
}

#M_title {
	background-image: -webkit-gradient(linear, left center, right center, from(rgb(81, 178, 243)), to(rgb(124, 224, 57)));
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

#M_progress {
	background-color: rgba(245, 222, 179, 0.3);
}

#playBtns p {
	overflow: hidden;
}

#btn_p span:nth-child(1),#btn_n span:nth-child(1) {
	width: 32px;
	height: 32px;
	left: -32px;
	border: none;
	margin: 0px;
	transform-origin: 50%;
	background: url("img/nex.png") no-repeat center;
}

#btn_n span:nth-child(1) {
	border-right: 32px solid transparent;
	transform:rotate(0deg);
	-webkit-filter: drop-shadow(32px 0 0 #00cc6a);
	filter: drop-shadow(32px 0 0 #00cc6a);
}

#btn_p span:nth-child(1) {
	border-left: 32px solid transparent;
	transform:rotate(180deg);
	-webkit-filter: drop-shadow(-32px 0 0 #00cc6a);
	filter: drop-shadow(-32px 0 0 #00cc6a);
}

#btn_p span:nth-child(2),#btn_n span:nth-child(2) {   /*原切歌键隐藏起来*/
	display: none;
}

#btn_c span {  /*播放和暂停键*/
	display: inline-block;
	width: 32px;
	height: 32px;
	left: -32px;
}

#btn_c span:nth-child(1) {
	background: url("img/play.png") no-repeat center;
	border: none;
	border-right: 32px solid transparent;
	-webkit-filter: drop-shadow(32px 0 0 #00cc6a);
	filter: drop-shadow(32px 0 0 #00cc6a);
}

#btn_c span:nth-child(2) {
	background: url("img/pause.png") no-repeat center;
	border: none;
	border-right: 32px solid transparent;
	-webkit-filter: drop-shadow(32px 0 0 rgb(45, 236, 172));
	filter: drop-shadow(32px 0 0 rgb(45, 236, 172));
}